.navigation {
    align-items: center;
    background: white;
    bottom: 0;
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    left: 0;
    position: fixed;
    z-index: 999;

    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: .2;
        color: #aaa;

        &:hover {
            color: darken(#aaa, 10);

            &:active,
            &:focus {
                color: darken(#aaa, 20);
            }
        }

        &:active,
        &:focus {
            color: darken(#aaa, 10);
        }

        >svg {
            width: 50%;
        }
    }

    .user-avatar {
        height: 12vh;
        position: relative;
        top: -1vh;
        width: 12vh;
        box-shadow: 0 -5px 10px 0 rgba(white, 0.3);
    }

    .link {

        &,
        >img,
        >svg {
            max-height: 100%;
            max-width: 100%;
        }
    }
}