.user-avatar {
    display: flex;
    background: #ccc;
    border: 3px dashed black;

    .avatar-image {
        max-width: 100%;
    }

    &,
    .avatar-image {
        border-radius: 50%;
    }
}