.header {
    align-items: center;
    background: white;
    display: flex;
    height: 8vh;
    justify-content: space-between;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 0 10px;

    img {
        height: 5vh;
    }

    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: .2;
        color: #aaa;

        &:hover {
            color: darken(#aaa, 10);

            &:active,
            &:focus {
                color: darken(#aaa, 20);
            }
        }

        &:active,
        &:focus {
            color: darken(#aaa, 10);
        }

        >svg {
            width: 50%;
        }
    }
}